.names{
  position: sticky;
  left: 0;
  min-height: 2em;
  background: #bdc3e8;
}

.DZ{
	background: #e8ebf7;
}

.stay{
  position: fixed;
  min-height: 2em;
  background: none;
}

 .round {
    border-radius: 100px;
    box-shadow: 0 0 0 #383838, 0 0 13px #333;
   }

.marks {
	font-family: Sans-Serif; 
	text-align: center; 
	border-collapse: separate; 
	border-spacing: 5px; 
	border: 16px solid #ffffff; 
	border-radius: 20px;
}

h3 {
	text-align: center;
	font-family: Sans-Serif; 
	color: #fff;
}

.menu {
  text-align-last:  center;
  margin-left: 50px;
  padding: 0;
  list-style-type: none;
  width: 100px;
}

.menu a {
  background-color: #3F51B5;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
.menu li {
  border-left: 10px solid #fff;
  border-bottom: 1px solid #fff;
}
.new_group{
	
	/*color: #fff;*/
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
}
.but_add{
	border-radius: 4px;
	
}
.fontello i {
	
	content: "\E803";
	font-family: "fontello";
	font-weight: normal;
	margin-right: 10px;
	src: local("fontello"), /* проверяем наличие шрифта в ОС пользователя */
         url('../font/fontello.ttf');
	
}