/*CSS-свойства для заднего фона*/
.modal {
	opacity: 0; /*изначально этот блок должен быть прозрачным*/ 
	background: rgba(0,0,0,0.7); /*задаём цвет фона*/
	pointer-events: none; /*делаем чтобы по элементу нельзя было кликнуть когда он прозрачный*/
 	position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
	transition: all 0.5s ease;
    margin: 0;
    padding: 0;
}

.modal:target {
    opacity: 1; /*при клике блок становится видимым*/
	pointer-events: auto; /*теперь по блоку можно кликать мышкой*/
    overflow-y: auto; /*прокрутка по вертикли страницы*/
}

.modal-wrapper {
	margin:auto; /*выравниваем модальное окно по центру по горизонтали*/
	margin-top:25vh; /*отступ сверху можно задавать в px, % или vh*/
}

/*CSS-свойства для блока, содержащего контент модального окна */ 
.CSS-modal-inner {
    position: relative;
    background: #bdc3e8; /*цвет фона*/
    /*border: 1px solid #ccc; цвет и толщина рамки*/
    border-radius: 0px; /*радиус скругления углов*/

}

/*CSS-свойства заголовка модального окна */
.modal-header {
    padding: 15px;/*внутренний отступ*/
    background:#3F51B5;/*цвет фона*/
	position:relative;
}
.modal-title {
	font-size: 18px; /*размер шрифта*/
	color:#fff; /*цвет шрифта*/
	font-weight:bold; /*жирность шрифта*/
    line-height: 1.5; /*высота строки*/
    margin-top: 0;
    margin-bottom: 0;
}

/*CSS для кнопки закрытия*/
.close {
    position:absolute;
	top:15px; /*отступ сверху*/
	right:10px; /*отступ справа*/
    font-size: 24px; /*размер шрифта*/
    color: #fff; /*цвет шрифта*/
    text-decoration: none;
}

.close:hover, .close:focus {
    color: #000; /*цвет шрифта при наведении*/
    cursor: pointer;
}

/*CSS для блока с текстом*/

.modal-text {
  padding: 15px 20px; /*внутренний отступ*/
}

/**MEDIA**/
@media (min-width: 550px) {
  .modal-wrapper {
      max-width: 500px;
   }
}