<!DOCTYPE html>
<html lang="ru" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Frames</title>
  </head>
    <frameset rows="100, *">
		<frame src="/admin_header" scrolling="no" noresize frameborder="0">
		<frameset cols="15%, 25%, 60%">
			<frame src="/admin_groups" frameborder="0">
			<frame src="/admin_main" name="main" frameborder="0">
			<frame src="" name="group"  frameborder="0">
		</frameset>
    </frameset>
    <noframes>
		<p>Браузер не отражает фреймы</p>
    </noframes>
  </html> 