<!DOCTYPE html>
<html lang="ru" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Frames</title>
  </head>
    <frameset rows="100, *">
		<frame src="header_super.html" scrolling="no" noresize frameborder="0">
		<frameset cols="15%, 25%, 60%">
			<frame src="groups_super.html" frameborder="0">
			<frame src="main_super_admin.html" name="main" frameborder="0">
			<frame src="group_super.html" name="group"  frameborder="0">
		</frameset>
    </frameset>
    <noframes>
		<p>Браузер не отражает фреймы</p>
    </noframes>
  </html> 