<!DOCTYPE html>
<html lang="ru" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Frames</title>
  <link href="/static/css/style_main_admin.css" rel="stylesheet">
  <link href="/static/css/style_modal_admin.css" rel="stylesheet">
  <link href="/static/css/style_button.css" rel="stylesheet">
  <link href="/static/css/style_tabs_admin.css" rel="stylesheet">
  <link href="/static/css/general_font.css" rel="stylesheet">
  </head>
  
    <frameset rows="100, *">
		<frame src="/header" scrolling="no" noresize frameborder="0">
		<frameset cols="20%, 80%">
			<frame src="/groups" scrolling="auto" frameborder="0">
			<frame src="/profile" name="main" frameborder="0">
		</frameset>
    </frameset>
    <noframes>
		<p>Браузер не отражает фреймы</p>
    </noframes>
  </html> 