<!DOCTYPE html>
<html lang="ru" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>group</title>
      <link href="/static/css/style_main_admin.css" rel="stylesheet">
      <link href="/static/css/style_modal_admin.css" rel="stylesheet">
      <link href="/static/css/style_button.css" rel="stylesheet">
   </head>
   <form method="POST" action="/group/{{.Marks.Group}}">
      {{$courseID := .CourseID}}
      <body bgcolor="#ffffff">
         <div>
            <table border="1" class="marks">
               <thead bgcolor="#bdc3e8">
                  <tr>
                     <td class="names" rowspan="2" width="200px">Ученик</td>
                     {{range .LessonInfo}}
                     <td colspan="1">{{.LessonNumber}}</td>
                     {{end}}
                  </tr>
                  <tr>
                     {{range .LessonInfo}}
                     <td class="theme"><a href="#modal{{.LessonNumber}}">{{if .Theme}}{{.Theme}}{{else}}Тема{{end}}</a></td>
                     {{end}}
                  </tr>
               </thead>
               <tbody bgcolor="#ffffff">
                  {{range .Marks.StudentsMarks }}
                  <tr>
                     <td class="names" rowspan="2" width="200px">{{.Name}}</td>
                     {{$login := .Login}}
                     {{range .Marks}}
                     <td colspan="1"><input type="text" name="class_mark;{{$login}};{{.Lesson}}" value="{{if .ClassMark}}{{.ClassMark}}{{else}}-{{end}}" style="width:70px"/></td>
                     {{end}}
                  </tr>
                  <tr class="DZ">
                     {{range .Marks}}
                     <td><input type="text" name="home_mark;{{$login}};{{.Lesson}}" value="{{if .HomeMark}}{{.HomeMark}}{{else}}-{{end}}" style="width:70px;background-color:#B5DAF2"/></td>
                     {{end}}
                  </tr>
                  {{end}}
                  <tr class="names" width="200px">
                     <td class="for_buttons" width="200px">
                        <button type="submit" class="but" name="submit" value="save_marks">Сохранить</button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         {{range .LessonInfo}}
         <div id="modal{{.LessonNumber}}" class="modal">
            <div class="modal-wrapper">
               <div class="CSS-modal-inner">
                  <div class="modal-header">
                     <h3 class="modal-title"><input type="text" name="theme;_;{{.LessonNumber}}" value="{{.Theme}}" style="width:250px"/></h3>
                     <a href="#close" title="Закрыть" class="close">×</a>
                  </div>
                  <div class="modal-text">    
                     <textarea rows="4" cols="50" name="homework;_;{{.LessonNumber}}">{{.Homework}}</textarea>
                     <button type="submit" class="but" name="submit" value="{{.LessonNumber}}">Подтвердить</button>
                  </div>
               </div>
            </div>
         </div>
         {{end}}
      </body>
   </form>
</html>
