<!DOCTYPE html>
<html lang="ru" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Group1</title>
  <link href="../static/style_main_admin.css" rel="stylesheet">
  <link href="../static/style_modal_admin.css" rel="stylesheet">
  <link href="../static/style_button.css" rel="stylesheet">
  </head>
  <body bgcolor="#ffffff">
	<table width="1500px" border="1" class="marks">
		<thead bgcolor="#bdc3e8">
		<tr>
			<td class="names" rowspan="2" width="200px">Ученик</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
			<td colspan="1" contenteditable="true">Дата</td>
		</tr>
		<tr>
			<td><a href="#modall">Тема</a></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
			<td><label for="button">Тема</label></td>
		</tr>
		</thead>
		<tbody bgcolor="#ffffff">
		<tr>
			<td class="names" rowspan="2" width="200px">Катя Старшова</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
			<td class="names" rowspan="2" width="200px">Данис Редис</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
			<td class="names" rowspan="2" width="200px">Веслава БлондиСтайл</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
			<td class="names" rowspan="2" width="200px">Толя Молодец-Холодец</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
			<td class="names" rowspan="2" width="200px">Чуварш Абаськович</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
			<td class="names" rowspan="2" width="200px">Петя Васечкин</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
			<td colspan="1" contenteditable="true">Оценка</td>
		</tr>
		<tr class="DZ">
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
			<td contenteditable="true">ДЗ</td>
		</tr>
		<tr>
		<td class="names" width="200px">
			<p><input type="text" class="new_group">
			<button class="but_mini"><i class="fontello">+</i></button></p>
		</td>
		</tr>
		<tr>
		<td class="for_buttons" width="200px">
			<button type="submit" class="but">Сохранить</button>
		</td>
		</tr>
		
		</tbody>
	</table>
		

	<!--		<div class="wrapper">
				<input type="checkbox" id="button">
				<div class="modal">
					<label for="button" class="close"></label>
				</div>
			</div>
			-->
			
			
			<div id="modall" class="modal">
          	<div class="modal-wrapper">
              <div class="CSS-modal-inner">
                 <div class="modal-header">
                  	<h3 class="modal-title" contenteditable="true">Тема</h3>
                  	<a href="#close" title="Закрыть" class="close">×</a>
                 </div>
                 <div class="modal-text">    
                   <p contenteditable="true">Домашнее задание</p>
				   <button type="submit">Сохранить</button>
                 </div>
  			  </div>
  			</div>	
			</div>
  </body>
  </html>
