<!DOCTYPE html>
<html lang="ru" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Шапка</title>
  <link href="../static/style_button.css" rel="stylesheet">
  </head> 
  
  <body bgcolor="#303F9F">
  <table width="100%">
  <tr>
    <td width="90%">
    <img src="..\images\CKO_white.png" width="130px" hspace="50px">
    <!--<h1>ЦКО МИЭТ</h1>-->
    </td>
    <td width="10%"> 
        <form class="head" action="../templates/login.html" target="_top" method="post">
          <input type="submit" value="Выйти">
        </form>


    </td>
  </tr>
  </table>
 
  
  </body>
  </html>