<!DOCTYPE html>
<html lang="ru" dir="ltr">
 <head>
  <meta charset="utf-8" />
  <title>Profile</title>
  <link href="/static/css/style_main_admin.css" rel="stylesheet">
  <link href="/static/css/style_modal_admin.css" rel="stylesheet">
  <link href="/static/css/style_button.css" rel="stylesheet">
  <link href="/static/css/style_tabs_super.css" rel="stylesheet">
	<link href="/static/css/general_font.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

  </head>
	<form method="POST" action="/admin_main">

  <body bgcolor="#ffffff">
  
  <div class="tabs">
  
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" title="Аккаунты">Аккаунты</label>
 
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" title="Группы">Группы</label>
	
	<input id="tab3" type="radio" name="tabs">
    <label for="tab3" title="Курсы">Курсы</label>
  
	<section id="content-tab1">
			<h4>Выберите тип аккаунта:</h4>
			<input type="radio" name="acc_type" value="0" checked>Ученик<Br>
			<input type="radio" name="acc_type" value="1">Преподаватель<Br>
			<input type="radio" name="acc_type" value="2">Администратор</p>
			
			<h4>ФИО:</h4>
			<p><input type="text" name="real_name"></p>
			<h4>Почта:</h4>
			<p><input type="text" name="login"></p>
			<h4>Дата рождения:</h4>
			<p><input type="date" name="birthday"></p>
			<h4>Доп. информация:</h4>
			<p><textarea rows="10" name="bonus_info"></textarea></p>
			
			<button type="submit" class = "but" value="add_user" name="submit">Добавить	
	</section>		
		
	<section id="content-tab2">	
	<h4>Название группы: </h4>
	<p><input type="text" name="group_name"></p>
	<h4>Выберите курс: </h4>
	<p><select class="js-example-basic-single" name="course_select"  style="width: 100%">
			 <option value=""></option>
			 {{range .Courses}}
			 <option value="{{.CourseID}}">{{.CourseName}}</option>
			 {{end}}
		</select></p>
	 <h4>Выберите преподавателя: </h4>
		<p><select class="js-example-basic-single" name="teacher_select"  style="width: 100%">
										 <option value="">                                </option>
										 {{range .Teachers}}
										 <option value="{{.Login}}">{{.Name}} {{.Login}}</option>
										 {{end}}
									</select></p>
   </select></p>
   <h4>Доп. информация:</h4>
		<p><textarea rows="10" name="group_comment"></textarea></p>
  	<button type="submit" name ="submit" class = "but" value="add_group" onclick="reloadFrames()">Добавть
				
	</section>
 

	<section id="content-tab3">
  


			<h4>Курсы ЦКО МИЭТ:</h4>
			<!--<table>
			<tr>
			<td><h5>C++</h5></td><td><button class="but_mini"><i class="fontello">x</i></button></td>
			</tr>
			<tr>
			<td><h5>Scratch</h5></td><td><button class="but_mini"><i class="fontello">x</i></button></td>
			</tr>
			<tr>
			<td><h5>Unity 3D</h5></td><td><button class="but_mini"><i class="fontello">x</i></button></td>
			</tr>
			</table>-->
			{{range .Courses}}
			<h5><button class="but_mini" name="submit" value="del_course;{{.CourseID}}"><i class="fontello">x</i></button>  {{.CourseName}}</h5>
			{{end}}
			<h4>Название курса:</h4>
			<p><input type="text" name="course_name"></p>
			<h4>Количество ак. часов:</h4>
			<p><input type="text" name="course_hours"></p>
			<button type="submit" name="submit" class = "but" value="add_course">Добавить

	</section>
	</div>
	<script>
		/* When the user clicks on the button,
		toggle between hiding and showing the dropdown content */
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		}
		
				 $(document).ready(function() {
						$('.js-example-basic-single').select2(
							 {
									theme: "classic"
							 }
						);
						
				 });
				 function reloadFrames() {
						window.parent.location = document.referrer;
					}
		</script>
	</body>
	</form>
  </html>