<!DOCTYPE html>
<html lang="ru" dir="ltr">
 <head>
  <meta charset="utf-8" />
  <title>ЦКО МИЭТ</title>
	<link href="/static/style_main.css" rel="stylesheet">
	<link href="/static/syle_modal.css" rel="stylesheet">
  </head>
  
  <body>
 
   <div class="tabs">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" title="Профиль">Профиль</label>
 
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" title="Оценки">Оценки</label>
 
    <input id="tab3" type="radio" name="tabs">
    <label for="tab3" title="Новости">Новости</label>
 
    <input id="tab4" type="radio" name="tabs">
    <label for="tab4" title="Уведомления">Уведомления</label>
 
    <section id="content-tab1">
        <table width="100%" cellspacing="0" cellpadding="0">
		<tr> 
			<td class="leftcol" width="250"><img src="images/ava.jpg" alt="" class="round" width ="200px" vspace="10" hspace="40" align="right"></td>
			<td  align="left"><h2><b>Иванов Иван Иванович</b></h2>
				<h3>E-mail: ivan@gmail.com</h3></td>
        </tr>
		<tr> 
			<td class="leftcol" width="250"></td>
			<td  align="left">
				<h2><p>Курс: <b>Программирование С++</b></h2>
				<h4>Преподаватель: Анатолий</h4>
				<h2><p>Курс: <b>Моделирование 3D</b></h2>
				<h4>Преподаватель: Михаил</h4></td>
        </tr>
	
  </table>
    </section>  
    <section id="content-tab2" >
		<table id="tab2-table" width="70%" style=" font-family: Sans-Serif; text-align: center; border-collapse: separate; border-spacing: 5px; border: 16px solid #ECE9E0; border-radius: 20px;">
			<thead style="background: #0079ea"><tr> 
				<td width="100">Дата</td>
				<td width="500">Тема занятия</td>
				<td width="100">Оценка</td>
				<td width="100">ДЗ</td>
			</tr> </thead> 
			<tbody style="background: #b8dcff">


			<!-- BLOCK for for -->
			{{range . }}
			<tr>
					<td>{{.Lesson_number}}</td>
					<td>
						<label for="button" class="label">Введение в С++</label>	
					</td>
					<td>{{.Class_mark}}</td>
					<td>{{.Home_mark}}</td>
				</tr>
			{{end}}
			<!-- end block-->
			<div class="wrapper">
				<input type="checkbox" id="button">
				<div class="modal">
					<label for="button" class="close"></label>
				</div>
			</div>
			
			</tbody>
		</table>
        
    </section> 
    <section id="content-tab3">
        <p>
          Новости для всех учащихся ЦКО МИЭТ....
		</p>
    </section> 
    <section id="content-tab4">
        <p>
          Уведомления только для вашей группы....
        </p>
    </section>    
</div>
  
  </body>
</html>
