<!DOCTYPE html>
<html lang="ru" dir="ltr">
 <head>
  <meta charset="utf-8" />
  <title>Profile</title>
  <link href="../static/style_main_admin.css" rel="stylesheet">
  <link href="../static/style_modal_admin.css" rel="stylesheet">
  <link href="../static/style_button.css" rel="stylesheet">
  <link href="../static/style_tabs_admin.css" rel="stylesheet">
  <link href="../static/general_font.css" rel="stylesheet">
  </head>
  
  <body bgcolor="#ffffff">
  
  <div class="tabs">
  
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" title="Группы">Группы</label>
 
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" title="Ученики">Ученики</label>
 
    <input id="tab3" type="radio" name="tabs">
    <label for="tab3" title="Преподаватели">Преподаватели</label>
  
	<section id="content-tab1">

		<h2><p>Список курсов: </p></h2>
				<h4><a href="group1.html" target="group">C++ СБ 10:00</a></h4>
				<h4><a href="group1.html" target="group">Scratch СБ 12:30</a></h4>
				<h4><a href="group1.html" target="group">Stencyl СБ 15:00</a></h4>
				<h4><a href="group1.html" target="group">C++ СБ 10:00</a></h4>
				<h4><a href="group1.html" target="group">Scratch СБ 12:30</a></h4>
				<h4><a href="group1.html" target="group">Stencyl СБ 15:00</a></h4>
				<h4><a href="group1.html" target="group">C++ СБ 10:00</a></h4>
				<h4><a href="group1.html" target="group">Scratch СБ 12:30</a></h4>
				<h4><a href="group1.html" target="group">Stencyl СБ 15:00</a></h4>
				<p><input type="text" class="new_group">
				<button class="but_mini"><i class="fontello">+</i></button></p>

	</section>		
		
	<section id="content-tab2">	
			<h2><p>Список учеников ЦКО МИЭТ: </p></h2>
				<h4>Марандюк Анатолий</h4>
				<h4>Мефед Анастасия</h4>
				<h4>Солонин Михаил</h4>
				<h4>Аргунов Роман</h4>
				<h4>Абаськин Кирилл</h4>
				<p><input type="text" class="new_group">
				<button class="but_mini"><i class="fontello">+</i></button></p>		
				
	</section>
  
    <section id="content-tab3">

	<h2><p>Список преподавателей ЦКО МИЭТ: </p></h2>
				<h4>Марандюк Анатолий</h4>
				<h4>Мефед Анастасия</h4>
				<h4>Солонин Михаил</h4>
				<h4>Аргунов Роман</h4>
				<h4>Абаськин Кирилл</h4>
				<p><input type="text" class="new_group">
				<button class="but_mini"><i class="fontello">+</i></button></p>
	
    </section>

  
  
	</div>
  </body>
  </html>