<!DOCTYPE html>
<html lang="ru" dir="ltr">
 <head>
		<meta charset="utf-8" />
		<title>Profile</title>
		<link href="/static/css/style_main_admin.css" rel="stylesheet">
		<link href="/static/css/style_modal_admin.css" rel="stylesheet">
		<link href="/static/css/style_button.css" rel="stylesheet">
		<link href="/static/css/style_tabs_admin.css" rel="stylesheet">
		<link href="/static/css/general_font.css" rel="stylesheet">
		<link href="/static/css/" rel="stylesheet">
  </head>
  
  <body bgcolor="#ffffff">
		<form action="/profile" method="POST">
		<div class="tabs">
			<input id="tab1" type="radio" name="tabs" checked>
			<label for="tab1" title="ЛичИнф">Профиль</label>
	
			<input id="tab2" type="radio" name="tabs">
			<label for="tab2" title="Группы">Группы</label>
	
			<input id="tab3" type="radio" name="tabs">
			<label for="tab3" title="Уведомления">Уведомления</label>
			<section id="content-tab1">
				<table width="100%" cellspacing="0" cellpadding="0">
				<tr> 
					<td width="250px">
						<img src="/static/images/ava.jpg" alt="" class="round" width ="200px" vspace="10" hspace="40" align="right">
					</td>
					<td width="300px" align="left">
						<h2><b>{{.Teacher}}</b></h2>
						<h4><input type="text" name="teacher_info" value="{{.TeacherInfo}}"/></h4>
						<button class="but_mini" type="submit" value="save_info" name="submit">Ok</button>
					</td>
				</tr>
				</table>
			</section>
			<section id="content-tab2">	
						<h2><p>Ведет курсы: </p></h2>
						{{range .TeacherGroups }}
						<h4><a href="/group/{{.GroupID}}">{{.Group}} {{.Course}} {{.Info}}</a></h4>
						{{end}}
			</section>
			<section id="content-tab3">
				<table>
					<tr>
						<td width="50%">
							<form action="">
								<p>Выберите группы:</p>
								{{range .TeacherGroups }}
								<p><input type="checkbox" name="groupCheck" value="{{.GroupID}}">{{.Group}}<Br>
								{{end}}
								<p>Текст уведомления:</p>
								<p><textarea rows="10" cols="45" name="eventText"></textarea></p>
								<p><button class="but_mini" type="submit" name="submit" value="save_event">Отправить</button></p>
							</form>
						</td>
						<td>
							{{range .TeacherGroups}}
							{{.Group}} {{.Course}} {{.Info}}
							<table align = "top" width="100%"><!--style=" font-family: Sans-Serif; text-align: center; border-collapse: separate; border-spacing: 5px; border: 16px solid #ECE9E0; border-radius: 20px;"--> 
								<thead style="background: #e7e7e7"><tr> 
									<td width="100">Дата</td>
									<td width="500">Уведомление</td>
									<td width="100">Удалить</td>
								</tr> </thead> 
								<tbody style="background: #f0f0f0">
									{{range .Events}}
									<tr> 
										<td>{{.Date}}</td>
										<td>
											<label for="button" class="label">{{.EventText}}</label>	
										</td>
										<td align="center"><button class="but_mini" type="submit" value="{{.EventID}}" name="submit">x</button></td>
									</tr>
									{{end}}
								</tbody>
							</table>
							{{end}}
						</td>
					</tr>
				</table>
			</section>
		</div>
	</form>
	</body>
</html>
